* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
nav div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
nav div h1 {
  color: black;
  font-weight: 900;
  font-size: 1.5em;
  padding-left: 50px;
  font-family: sans-serif;
}
nav div a {
  text-decoration: none;
  color: #59637a;
  font-size: 1.1em;
  font-weight: 600;
  font-family: sans-serif;
}
nav div#logo {
  background-color: white;
}
nav div#links {
  background-color: #c4d8e4;
  display: flex;
  justify-content: space-evenly;
}

section {
  display: flex;
}
section#slider {
  background-color: #c4d8e4;
}
section#slider div {
  width: 50%;
}
section#slider div#left-img {
  background-color: #e4eaf2;
}
section#slider div#left-img img {
  position: relative;
  margin-left: 30%;
}
section#slider div#text-slider {
  background-color: #c4d8e4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#slider div#text-slider h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #59637a;
}
section#slider div#text-slider p {
  font-size: 1.4em;
  color: #59637a;
}
section#slider div#text-slider input {
  padding: 20px 60px 20px 60px;
  background-color: #ff8465;
  color: white;
  border: 0;
}
section#slider div#text-slider p, section#slider div#text-slider h1, section#slider div#text-slider input {
  z-index: 99;
  margin-right: 50%;
}
section#benefits {
  background-color: #c4d8e4;
}
section#benefits #benefits-left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section#benefits #benefits-left div {
  margin-left: 10%;
}
section#benefits #benefits-rigth {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#energizing {
  background-color: #c4d8e4;
  height: 500px;
}
section#energizing #energizing-text {
  background-color: #496096;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}
section#energizing #energizing-text h1 {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: sans-serif;
}
section#energizing #energizing-text P {
  width: 32%;
  color: #b8e4ff;
  font-size: 1.2em;
  text-align: justify;
  font-family: sans-serif;
}
section#energizing #energizing-text input {
  padding: 20px 60px 20px 60px;
  margin-top: 20px;
  background-color: #ff8464;
  color: whitesmoke;
  border: 0;
}
section#energizing #free {
  width: 20%;
}
section#sleep {
  background-color: #c4d8e4;
}
section#sleep div img {
  z-index: 99;
  position: relative;
}
section#carry {
  background-color: #0692a5;
  height: 500px;
}
section#carry #free2 {
  width: 20%;
  background-color: #c4d8e4;
  position: relative;
  z-index: 999;
  margin-top: -5px;
}
section#carry #carry-text {
  background-color: #0692a5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  position: absolute;
  margin-top: -180px;
  z-index: 0;
  padding-top: 200px;
}
section#carry #carry-text h1 {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: sans-serif;
}
section#carry #carry-text P {
  width: 32%;
  color: #b8e4ff;
  font-size: 1.2em;
  text-align: justify;
  font-family: sans-serif;
}
section#carry #carry-text input {
  padding: 20px 60px 20px 60px;
  margin-top: 20px;
  background-color: #ff8464;
  color: whitesmoke;
  border: 0;
}
section#walk {
  background-color: #0692a5;
}
section#walk div#walk-left {
  background-color: #c4d8e4;
  width: 25%;
}
section#walk div#walk-rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section#walk div#walk-rigth :first-child {
  POSITION: relative;
  TOP: 0;
  MARGIN-RIGHT: 100PX;
  MARGIN-LEFT: -600PX;
  Z-INDEX: 999;
}

/*# sourceMappingURL=style.css.map */
